In [190]:
import pandas as pd
import os
from datetime import datetime

In [137]:
os.mkdir("./XLS2/")

In [192]:
list = os.listdir("./XLS/")[1:]

In [193]:
list.sort(key = lambda date: datetime.strptime(date, '%Y%m'))

In [194]:
list

['202001',
 '202002',
 '202003',
 '202004',
 '202005',
 '202006',
 '202007',
 '202008',
 '202009',
 '202010',
 '202011',
 '202012']

In [179]:
days = os.listdir(f"./XLS/202001")

In [199]:
days = [day[:-5] for day in days] 
days.sort(key = lambda date: datetime.strptime(date, '%Y%m%d'))

In [200]:
days

['20200102',
 '20200103',
 '20200104',
 '20200105',
 '20200106',
 '20200107',
 '20200108',
 '20200109',
 '20200110',
 '20200111',
 '20200112',
 '20200113',
 '20200114',
 '20200115',
 '20200116',
 '20200117',
 '20200118',
 '20200119',
 '20200120',
 '20200121',
 '20200122',
 '20200123',
 '20200124',
 '20200125',
 '20200126',
 '20200127',
 '20200128',
 '20200129',
 '20200130',
 '20200131']

In [202]:
year = os.listdir("./XLS/")[1:]
year.sort(key = lambda date: datetime.strptime(date, '%Y%m'))
print(year)
df_year = pd.DataFrame(columns=['Date', 'Product', 'Market', 'Direction', 'Offered Capacity [MW]',
       'Balancing capacity price [HUF/MW/h]'])
for month in year:
    os.mkdir(f"./XLS2/{month}")
    days = os.listdir(f"./XLS/{month}")
    days = [day[:-5] for day in days] 
    days.sort(key = lambda date: datetime.strptime(date, '%Y%m%d'))
    df_month = pd.DataFrame(columns=['Date', 'Product', 'Market', 'Direction', 'Offered Capacity [MW]',
       'Balancing capacity price [HUF/MW/h]'])
    for day in days:
        df = pd.read_excel(f"./XLS/{month}/{day}.xlsx", skiprows=7, skipfooter=7)
        drop_columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 8', 'Unnamed: 9']
        df_clean = df.drop(drop_columns, axis=1)
        df_clean.fillna(method='ffill', inplace=True)
        df_clean.to_excel(f"./XLS2/{month}/{day}.xlsx", index=False)
        df_month = df_month.append(df_clean)
        df_year = df_year.append(df_clean)
    df_month.to_excel(f"./XLS2/{month}/{month}_all.xlsx", index=False)
df_year.to_excel(f"./XLS2/2020_all.xlsx", index=False)

['202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012']

In [154]:
df = pd.read_excel("./XLS/202004/20200430.xlsx", skiprows=7, skipfooter=7)
df.head()

,Date,Product,Unnamed: 2,Unnamed: 3,Market,Direction,Offered Capacity [MW],Balancing capacity price [HUF/MW/h],Unnamed: 8,Unnamed: 9
0,2020.04.30.,00:00-01:00,NaN,NaN,FCR,Negative,1,40000,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,5,40000,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,10,40000,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,5,14400,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,8,14400,NaN,NaN

In [153]:
df.tail()

,Date,Product,Unnamed: 2,Unnamed: 3,Market,Direction,Offered Capacity [MW],Balancing capacity price [HUF/MW/h],Unnamed: 8,Unnamed: 9
1367,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1490.0,NaN,NaN
1368,NaN,NaN,NaN,NaN,NaN,NaN,17.0,1399.0,NaN,NaN
1369,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1396.0,NaN,NaN
1370,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1300.0,NaN,NaN
1371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
drop_columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 8', 'Unnamed: 9']
df_clean = df.drop(drop_columns, axis=1)

In [126]:
df_clean.fillna(method='ffill', inplace=True)

In [128]:
df_clean.columns

Index(['Date', 'Product', 'Market', 'Direction', 'Offered Capacity [MW]',
       'Balancing capacity price [HUF/MW/h]'],
      dtype='object')

In [127]:
df_clean.to_excel("./XLS/202001/20200102_2.xlsx")

In [133]:
df_month = pd.DataFrame(columns=['Date', 'Product', 'Market', 'Direction', 'Offered Capacity [MW]',
       'Balancing capacity price [HUF/MW/h]'])

In [134]:
df_month.append(df_clean)

,Date,Product,Market,Direction,Offered Capacity [MW],Balancing capacity price [HUF/MW/h]
0,2020.01.11.,00:00-01:00,FCR,Negative,1.0,40000.0
1,2020.01.11.,00:00-01:00,FCR,Negative,5.0,40000.0
2,2020.01.11.,00:00-01:00,FCR,Negative,6.0,40000.0
3,2020.01.11.,00:00-01:00,FCR,Negative,8.0,40000.0
4,2020.01.11.,00:00-01:00,FCR,Negative,10.0,40000.0
...,...,...,...,...,...,...
1348,Information:,23:00-24:00,mFRR and RR,Positive,10.0,2490.0
1349,The remuneration of contracted balancing capac...,23:00-24:00,mFRR and RR,Positive,10.0,2490.0
1350,"The report does not include the bids, which ha...",23:00-24:00,mFRR and RR,Positive,10.0,2490.0
1351,The report shows only the different combinatio...,23:00-24:00,mFRR and RR,Positive,10.0,2490.0
1352,The report shows only the different combinatio...,23:00-24:00,mFRR and RR,Positive,10.0,2490.0